#registro{
	margin: auto;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid;
	border-color: black;
	width: 400px;
	height: 300px;
}
#registro input{
	width: 300px;
	height: 40px;
}
#registro button{
	width: 140px;
	height: 40px;
	background-color: #4fffff;
	cursor: pointer;
}
#call{
	display: none;
}
#div_ver_video{
	margin: auto;
	padding: 10px;
	background-color: black;
	border-radius: 20px;
	width: 600px;
	height: 400px;
}
#div_ver_video video{
	margin: auto;
	width: 600px;
	height: 320px;
}
#call_op_contest{
	margin: auto;
	padding: 10px;
	width: 160px;
	height: 50px;
}
#call_op_contest div{
	margin: auto;
	width: 50px;
	height: 50px;
	border-radius: 60px;
	border: 1px solid;
	border-color: white;
	background-color: black;
	float: left;
	cursor: pointer;
}

