#registro{
	margin: auto;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid;
	border-color: black;
	width: 400px;
	height: 300px;
}
#registro input{
	width: 300px;
	height: 40px;
}
#registro button{
	width: 140px;
	height: 40px;
	background-color: #4fffff;
	cursor: pointer;
}
#call{
	display: none;
}
