#inicio{
	margin: auto;
	padding: 10px;
	border: 2px solid;
	width: 300px;
	height: 480px;
}
#inicio input{
	width: 200px;
	height: 40px;
}
#inicio button{
	width: 180px;
	height: 40px;
	background-color: #4fffff;
	cursor: pointer;
}
#chat{
	display: none;
}
