#inicio{
	margin: auto;
	padding: 10px;
	border: 2px solid;
	width: 300px;
	height: 580px;
}
#inicio input{
	width: 200px;
	height: 40px;
}
#inicio button{
	width: 180px;
	height: 40px;
	background-color: #4fffff;
	cursor: pointer;
}
#chat{
	display: none;
}
textarea{
	resize: none;
	width: 400px;
	height: 200px;
}
#mens{
	margin: auto;
	padding: 10px;
	border-radius: 20px;
	border: 2px solid;
	border-color: black;
	width: 440px;
	height: 200px;
}
#mens input{
	width: 400px;
	height: 40px;
}
