#opciones{
	margin: auto;
	padding: 10px;
	border-radius: 20px;
	border: 2px solid;
	border-color: #4fffff;
	width: 200px;
	height: 300px;
}
#opciones button{
	width: 180px;
	height: 40px;
	background-color: #4fffff;
	cursor: pointer;
}
#opinion{
	margin: auto;
	padding: 10px;
	width: 400px;
	height: 300px;
	border: 2px solid;
	border-color: black;
}
#opinion textarea{
	resize: none;
	width: 360px;
	height: 100px;
}
#opinion input{
	width: 362px;
	height:  30px;
}
#opinion button{
	background-color: #4fffff;
	width: 180px;
	height: 40px;
}
